.input {background-color:transparent; margin: 1rem;border:none;border-bottom: 1px solid $color_secundary-2; outline: none; color:$color_primary-3; padding: .5rem; font-size: 18px; width:100%; transition: .2s;margin-left:0; margin-right: 0;
  &:focus {border-bottom: 1px solid rgba(159,170,171,0.7)}
}
